body {
    background-color: rgb(244, 208, 78);
    font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500 800;
  font-style: normal;
  padding: 50px;
}

main{
    height: 524.01px;
    width: 340px;
    background-color: white;
    margin: auto;
    display: grid;
    border-radius: 20px;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 1);
    border-width: 2px;
    border-style: solid;
    padding: 20px;
    
    grid-template-areas:
    "pic"
    "learning"
    "published"
    "Heading"
    "descrip"
    "author" ;
    justify-items: left;
}


.heading{
    font-weight: 500;
    font-size: 500px;
}

h1 .heading{
    margin-top: 0px;
    margin-bottom: 0px;
}


h1{
    font-size: 26px;
}
  


h1:hover{
    color: rgb(244, 208, 78);
}

.pic {
    display: flex;
    border-radius: 10px;
    width: 100%;
    grid-area: pic;
    align-self: center;
    align-items: center;
    

}

img {
    border-radius: 10px;
    align-self: center;
}

.published {
    color: grey;
}

.descrip {
    color: grey;
   word-spacing: 1px;
}

.learning {
    grid-area: learning;
    background-color: hsl(47, 88%, 63%);
    border-radius: 5px;
    width: 100px;
    height: 25px;
    justify-content: center;
    font-weight: bold;
    justify-items: center;
    display: flex;
    margin: 20px 20px 0px 0px;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 5px;
}

.attribution{
    justify-content: center;
    padding: 0px;
    padding-left: 50px;

}

